<div class="container-fluid bg-white shadow">
    <div class="row p-1">
        <div class="col-9">
            <img name="logo" class="img-responsive d-md-none" style="max-height: 100px" />
        </div>
        <div class="col-3 text-right" name="header-top">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars fa-2x"></i>
            </button>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col-12 col-lg-6 col-xl-9 mb-3 d-none d-md-block">
            <img name="logo" class="img-responsive" style="max-height: 100px" />
        </div>
        <!--d-flex justify-content-md-between align-items-end-->
        <div class="col-12 col-lg-6 col-xl-3 text-right mb-3">

            <div class="row">
                <div class="col">

                    <span name="status" class="badge badge-primary" label="beta"></span>
                    <!-- <h2  class="text-primary mb-0" style="display: none;">
                        <span label="beta"></span>
                        <i class="fas fa-flask"></i>
                    </h2> -->
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 name="title" class="text-primary mb-0"></h2>
                </div>
            </div>


        </div>
    </div>
</div>

</nav>

<!-- CSS file for Header page-->
<link rel="stylesheet" href="template/css/header.css">
<!-- JS file for Header page-->
<script src="template/js/header.js"></script>
