/*******************************************************************************
Custom CSS application specific
*******************************************************************************/

 /* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

 /*If the device window is 575px or smaller*/

@media (max-width: 575px) {
   #visual-mip .pxwidget .pxwidget-canvas-wrapper {
        height: 60vh;
    }
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    #visual-mip .pxwidget .pxwidget-canvas-wrapper {
        height: 60vh;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #visual-mip .pxwidget .pxwidget-canvas-wrapper {
        height: 60vh;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    #visual-mip .pxwidget .pxwidget-canvas-wrapper {
        height: 60vh;
    }
}